* {
    font-family: Verdana, sans-serif;
    color: white;
}

body {
    background-color: rgb(40, 40, 40);
}

.upperLayer {
    background-color: rgba(0, 0, 0, 0.35);
}

.upperLayer button {
    background-color: rgb(240, 240, 240);
    color: black;
}

#status {
    color: rgb(180, 180, 180);
}

#options {
    color: black;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    border: 1px solid rgb(70, 70, 70);
}

#optionsClose {
    color: black;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(70, 70, 70);
}